a{
	outline: none;
	text-decoration: none;
}
*{
	font-family: 'latoregular';
	text-shadow: 0px 0px 10px #000;
	color: #fff;
}
body, html{
	width: 100%;
	height: 100%;
}
.icon{
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	font-weight: normal;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.width_limit{
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}
.clearfix{
	clear: both;
	padding-bottom: 50px;
}
.table{
	display: table;
	height: 100%;
}
.table_cell{
	display: table-cell;
	vertical-align: middle;
}
.bg_page{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../images/bg_page.jpg);
	background-size: cover;
	z-index: -1;
}
/*-------------------------Header-------------------------*/
header{
	background-color: #fff;
}
.logo{
	width: 128px; 
	height: 83px;
	background-image: url(../images/logo.png);
	display: inline-block;
}
.head_nav{
	display: inline-block;
	vertical-align: top;
}
.head_nav li{
	display: inline-block;
	vertical-align: top;
	margin: 34px 20px;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	cursor: pointer;
}
.head_nav li:hover{
	color: #333;
}
/*-------------------------Index-------------------------*/
.index_slider{
	width: 100%;
	height: 400px;
	position: relative;
}
.slider{}
.slider_elemet{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	opacity: 0;
	transition: 0.3s linear;
}
.slider_elemet.active{
	opacity: 1;
}
.about_us{
	padding: 50px 0;
	text-align: center;
}
.about_us h3{
	padding: 20px 0;
}
.about_us_img{
	display: inline-block;
	width: 300px;
	height: 300px;
	vertical-align: top;
	background-color: red;
}
.about_us_text{
	display: inline-block;
	width: 600px;
	vertical-align: top;
	text-align: left;
}
.about_us_text p{
	margin: 15px 0;
}
/*-------------------------Ahorro de Gas-------------------------*/
.productos_section{
	position: relative;
}
.productos_section h2{
	text-align: center;
	font-size: 50px;
	padding: 50px 0;
}
.productos_nav{
	width: 140px;
	position: fixed;
	background-color: rgba(255, 255, 255,0.6);
	z-index: 9999;
	
}
.productos_nav h6{
	font-size: 17px;
}
.productos_nav ul{
	border: 1px solid #000;
	text-align: center;
}
.productos_nav li{
	margin: 20px 0;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	cursor: pointer;
}
.productos_nav li:hover{
	color: #333;
}
.producto_section{
	margin: 0 140px;
}
.productos_elem{
	clear: both;
	padding: 30px 0;
}
.productos_elem:nth-child(odd) .producto_text{
	float: right;
	width: 49%;
	height: 200px;
}
.productos_elem:nth-child(odd) .producto_img{
	float: left;
	width: 49%;
	text-align: center;
}
.productos_elem:nth-child(even) .producto_text{
	float: left;
	width: 49%;
	height: 200px;
}
.productos_elem:nth-child(even) .producto_img{
	float: right;
	width: 49%;
	text-align: center;
}
.producto_img img{
	max-width: 100%;
    height: 200px;
}
.producto_section h3{
	clear: both;
	text-align: center;
	font-size: 30px;
	
}
.nota_productos{
	text-align: center;
	font-size: 25px;
}

/*-------------------------Ahorro de Agua-------------------------*/
/*-------------------------Linea Blanca-------------------------*/
/*-------------------------Otros-------------------------*/
/*-------------------------Contacto-------------------------*/
/*-------------------------Media queries-------------------------*/
@media ( max-width: 980px ){
}